/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000b24, #091d33);
  color: whitesmoke;
}

#cart-widget > span {
  color: coral;
  padding-left: 1rem;
  font-weight: bold;
}

#container{
  margin-top: 2rem;
  text-align: center;
}

#card{
  margin: 1rem;
  width: 20rem;
  height: 30rem;
  background-color: #205073;
  border-color: whitesmoke;
  color: whitesmoke;
}

#item.picture{
  height:  10vh;
}


.DetalleProducto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerProducto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.Counter{
  width: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Controls{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 1rem;
}